<style type="text/css">
</style>

<div class="boxes">
  <div class="head">
    <h1>NDPSoftware</h1>
    <h4>Software Development by Andrew Peterson</h4>
    <a href="http://ndpsoft.blogspot.com">Blog</a>
  </div>
  <div class="head">
    <h1 class="p2">NDPSoftware</h1>
    <a href="http://ndpsoft.blogspot.com">Blog</a>
  </div>
  <div class="visualization" id="ux_spoke" data-height="2" data-width="2">
    <h3>Ux Spoke</h3>
    <h4>Visualization</h4>

    <div class="tags">prototype visual_design ui_design product_design mini_project canvas javascript usability
      education visualization
    </div>
    <p>Common Software Usability Questions: As you develop or refine a software product, it's easy to get stuck in a
      rut, running tests that aren't that helpful or focusing on Google Analytics. That tool that worked so well may no
      longer be the right tool for the questions you have now. The UX/Spoke tool is designed to help you explore many of
      the different tools in common practice.</p>
    <a href="http://uxspoke.com">View Details</a>
  </div>
  <div class="visualization" data-height="2">
    <h3>Programming Languages I've Used</h3>
    <h4>Visualization</h4>

    <p>Quick bar chart of the programming languages I've used. Created to demonstrate concise CSS and Javascript
      style.</p>
    <a href="http://ndpsoft.blogspot.com/2010/09/most-resumes-are-pretty-boring.html#more">View Details</a>

    <div class="tags">prototype visual_design ui_design product_design mini_project canvas javascript usability testing
      ruby java collaboration education visualization
    </div>
  </div>
  <div class="dev_tool">
    <h3>Ayudante</h3>
    <h4>Ruby Gem</h4>

    <p>TestUnit test helpers for pre- and post-conditions and a few other items missing from RoR.</p>
    <a href="http://ndpsoft.blogspot.com/2010/01/assert-changes-and-fixture-test-helpers.html">View Details</a>
  </div>
  <div class="visualization" id="agile_methods">
    <h3>Agile Processes Visualization</h3>
    <h4>Visualization</h4>

    <p>A quick visualization to understand the differences between "agile", XP, scrum, etc.</p>
    <a href="http://ndpsoft.blogspot.com/2009/09/scrum-xp-agile-and-visualizing.html">View Details</a>
  </div>
  <div class="visualization">
    <h3>Scriptaculous Effects Demo</h3>
    <h4>Visualization</h4>

    <p>A quick demonstration of Scriptaculous animation effects.</p>
    <a href="http://ndpsoftware.com/ScriptaculousEffectsDemo.php">View Details</a>
  </div>
  <div class="cheatsheet" id="jspx_cheatsheet">
    <h3>JSP XML Cheatsheet</h3>
    <h4>Cheatsheet</h4>
    <a href="http://www.ndpsoftware.com/JSPXMLCheatSheet.html">View Details</a>
  </div>
  <div class="dev_tool">
    <h3>CSS Best Practices</h3>
    <h4>Technical Writing</h4>
    <a href="http://www.ndpsoftware.com/CssBestPractices.php">View Details</a>
  </div>
  <div class="jquery_plugin dev_tool" id="show_char_limit">
    <h3>Show Char Limit</h3>
    <h4>JQuery plugin</h4>

    <p>A plugin to reflect length of characters available in input/textarea fields.</p>
    <a href="http://www.ndpsoftware.com/show_char_limit.php">Plugin Home Page</a>

    <div class="tags">api_design mini_project javascript testing</div>
  </div>
  <div class="jquery_plugin dev_tool">
    <h3>Wizardize</h3>
    <h4>JQuery plugin</h4>

    <p>A plugin to separate a regular HTML form into wizard steps.</p>
    <a href="http://github.com/ndp/wizardize">Project Home Page</a>

    <div class="tags">api_design javascript usability testing collaboration</div>
  </div>
  <div class="jquery_plugin dev_tool">
    <h3>Color Spy</h3>
    <h4>JQuery plugin</h4>

    <p>A simple eye-dropper plugin to determine colors from elements.</p>
    <a href="http://github.com/ndp/color_spy">View Details</a>

    <div class="tags">api_design javascript</div>
  </div>
  <div class="dev_tool" id="csster" data-height="2" data-width="2">
    <h3>Csster</h3>
    <h4>CSS within Javascript</h4>
    <h4>Development Tool</h4>

    <p>Concisely generates CSS style rules within Javascript. Features:
      <ul>
      <li>standard "object literal"/JSON format with good editor support;
      <li>nesting to DRY up stylesheets;
      <li>color functions like darken and saturate;
      <li>built-in macros for common CSS idioms like clearfix, rounded corners, drop shadows;
      <li>and extension points.
          </ul>
    </p>
    <a href="http://github.com/ndp/csster">Github project page</a>
  </div>
  <div class="collaboration" id="bedsider">
    <h3>Bedsider</h3>
    <h4>Software Engineering Collaboration</h4>
    <p>I led development in collaboration with IDEO on the nation's first "birth control support network".</p>
    <a href="http://bedsider.org/methods">View Site</a>
  </div>
  <div class="collaboration"><h3>GreatSchools</h3>
    <h4>Software Engineering Collaboration</h4>
    <p>Chief architect of the rewrite of a popular, data-rich web site.</p>
    <a href="http://greatschools.org">View Site</a>
  </div>
  <div class="cheatsheet" id="hibernate_mapping_cheatsheet">
    <h3>Hibernate Mapping Cheatsheet</h3>
    <h4>Cheatsheet</h4>
    <a href="http://www.ndpsoftware.com/HibernateMappingCheatSheet.html">View Details</a>
  </div>
  <div class="collaboration">
    <h3>Navis / N4</h3>
    <h4>Software Engineering Collaboration</h4>
    <p>Created presentation-tier architecture for next generation of Navis's J2EE-based products.</p>
  </div>
  <div class="visualization">
    <h3>BootyLog</h3>
    <h4>Visualizations</h4>

  </div>
  <div class="visualization" id="tracker_story_maps">
    <h3>Story Mapper</h3>
    <h4>Visualization</h4>
  </div>
  <div class="prototype" id="chklistr">
    <h3>chklistr</h3>
    <h4>Site Prototype</h4>
    <p>Find, use and share all sorts of checklists.</p>
    <a href="http://chklistr.com/">View prototype</a>
  </div>
  <div class="visualization" data-height="2" data-width="2">
    <h3>Git Cheatsheet</h3>
    <h4>Interactive Visualization</h4>

    <p>As I dove into learning Git, I was initially confused about where my code was.
      I felt pretty confident that git hadn't lost anything, but less confident I could get it back readily.
      It's distributed, so I expect my code will be more places, but it's much more complex than Subversion or CVS.
      Once I figured out the basic locations that things could be, the second challenge was to understand the
      commands that can affect them. This is my visualization as I figured this out. </p>
    <a href="http://www.ndpsoftware.com/git-cheatsheet.html">View Git Cheatsheet</a>
  </div>
  <div class="prototype">
    <h3>who-eats-what</h3>
    <h4>Site Prototype</h4>
    <a href="http://who-eats-what.heroku.com/">View prototype</a>
  </div>
  <div class="prototype" id="difftionary">
    <h3>difftionary</h3>
    <h4>Site prototype</h4>

    <p>A dictionary based on distinctions between two words.</p>
    <a href="http://difftionary.com/">View prototype</a>
  </div>
</div>


