<h1>Common Software Usability Questions<span> (and how to get answers!)</span></h1>
<div class="copyright">Copyright &copy; 2010 <a href="http://ndpsoftware.com">Andrew J. Peterson, NDP Software.</a> All Rights Reserved.</div>
<canvas id="circle" width='800' height='800' ></canvas>
<div id="answers">
  <h5>Don't spin the wheel...</h5>
  <p>Test your understanding of your users, the problems they face, and your solution. The earlier you test your assumptions,
  the less time (and money) you'll spend designing and building the wrong product.</p>
  <p>On this wheel are some common questions that users can help answer.
  Click on any question to see how to get answers.</p>
  <h5>Colors</h5>
  <p>The lighter the color, the earlier it can be answered. In this model there are three phases:</p>
  <ol>
    <li class="requirements">before</li>
    <li class="design">design & build</li>
    <li class="test">after</li>
  </ol>
  <p><em>Before</em> is all the activities done before you are ready to build the product-- mostly understanding the user and problems.
    <em>After</em> are activities around improving a working product.</p>
  <h5>Feedback</h5>
  <p>If you disagree or have new ideas, drop me a line at <a href="mailto:ndp+wheel@mac.com">ndp+wheel@mac.com</a></p>
  <h5>And...</h5>
  <p>You can use the arrow keys (up/down) to cycle through the wheel, as well as the space bar just to let it spin (and stop).</p>

</div>