<style type="text/css">
  #answers {
    padding: 20px;
    border: 1px dotted #eee;
    background-color: #eee;
    position: absolute;
    top: 100px;
    left: 800px;
    width: 300px;
    font: 18px/24px georgia;
  }
</style>

<canvas id="circle" width='700' height='700' ></canvas>
<div id="answers"></div>