<h1>Common Software Usability Questions<span> (and how to get answers!)</span></h1>
<div class="copyright">Copyright &copy; 2010 <a href="http://ndpsoftware.com">Andrew J. Peterson.</a> All Rights Reserved.</div>
<canvas id="circle" width='800' height='800' ></canvas>
<div id="answers">
  <h5>Don't spin the wheel, be intentional...</h5>
  <p>Test your understanding of the problems your users face early on-- the earlier you test your assumptions,
  the less time (and money) spent designing and building something that doesn't make sense.</p>
  <p>On the wheel are some common questions to have your users help you answer. Click on them to
  see how to get answers.</p>
  <p>You can use the arrow keys (up/down) to cycle through the wheel, as well as the space bar just to let it spin (and stop).</p>
  <h5>Colors</h5>
  <p>Questions are colored based on when you might ask them during the software development process:</p>
  <ol>
    <li>requirements</li>
    <li>design</li>
    <li>build &amp; test</li>
  </ol>

</div>