<h1>Common Software Usability Questions<span>(and how to get answers!)</span><span class="copyright">Copyright &copy; 2010 Andrew J. Peterson. All Rights Reserved.</span></h1>
<canvas id="circle" width='800' height='800' ></canvas>
<div id="answers"></div>