<style type="text/css">
  #answers {
    padding: 10px 20px 20px 20px;
    border: 1px dotted #bbb;
    background-color: #ddd;
    position: absolute;
    top: 365px;
    left: 820px;
    width: 300px;
    font: 18px/24px georgia;
    border: 3px solid #666;
  }
</style>

<canvas id="circle" width='800' height='800' ></canvas>
<div id="answers"></div>