<h1>Common Software Usability Questions<span> (and how to get answers!)</span></h1>
<div class="copyright">Copyright &copy; 2010 <a href="http://ndpsoftware.com">Andrew J. Peterson.</a> All Rights Reserved.</div>
<canvas id="circle" width='800' height='800' ></canvas>
<div id="answers">
  <h5>Don't spin the wheel...</h5>
  <p>Early on test your understanding of your users and the problems they face. The earlier you test your assumptions,
  the less time (and money) you'll spent designing and building the wrong product.</p>
  <p>On this wheel are some common questions that users can help answer. </p>
  <p>Click on any question to see how to get answers.</p>
  <p>You can use the arrow keys (up/down) to cycle through the wheel, as well as the space bar just to let it spin (and stop).</p>
  <h5>Colors</h5>
  <p>The darker the color, the earlier it can be answered:</p>
  <ol>
    <li style="background-color: #4D4D80; color: white">requirements</li>
    <li style="background-color: #7070A9; color: white">design</li>
    <li style="background-color: #8080B3; color: white">build &amp; test</li>
  </ol>
  <p>If you disagree or have new ideas, drop me a line at <a href="mailto:ndp+wheel@mac.com">ndp+wheel@mac.com</a></p>

</div>